.banner {
    width: 100%;
    height: 40vh;
    background-image: url(../imgs/dd.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align: center;
    position: relative;


}

.mypetsHeader{
    width: 100%;
    height: 40vh;
    background-image: url(../imgs/pets-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align: center;
    position: relative;  
}

.banner h1 {
    font-size: 2.5rem;
}

.banner div {
    position: relative;
    z-index: 99;
}

.banner span {
    color: rgb(211, 210, 210);
}

.adoption {
    height: 100%;
    padding-top: 90px;
}

.banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);

}


.filter-container {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #00c4a7;
    padding: 5px;
    border-radius: 8px;
    background-color: #fff;
    justify-content: space-between;
    margin-bottom: 15px;
}

.filter-container label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.filter-container i {
    color: #00c4a7;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#countryFilter {
    padding: 8px;
    border: 1px solid #00c4a7;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    background-color: #f8f8f8;
    transition: all 0.3s ease;
}

#countryFilter:hover {
    background-color: #e0f7f3;
}

/* list categories */

.adoption .container {
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;


}


.categories {
    width: 20%;
}


.categories ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 250px;
}

.categories ul li {
    display: flex;
    justify-content: space-between;
    background-color: #ececec;
    align-items: center;
    height: 55px;
    padding: 3px 10px;
    border-radius: 0.5rem;
    border: 1px solid #aaaaaa;
    cursor: pointer;
    transition: 0.3s;
}

.categories ul li:hover {
    background-color: #d7d6d6;
}

.categories ul li img {
    width: 25px;
    height: 25px;
}

.categories ul li .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories ul li span {
    font-size: 14px;
    color: #838282;
}

.fixed {
    position: fixed;
    top: 100px;
}

.petlist {
    width: 80%;
    margin-left: 10px;
    margin-bottom: 30px;
}

.petlist .list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.petlist .list .pet {
    width: 300px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.7rem;
    overflow: hidden;
    padding-bottom: 25px;
}

.petlist .list .pet .img {
    width: 100%;
    height: 300px;
    position: relative;
}

.petlist .list .pet .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.petlist .list .pet .img .category,
.petInfo .img .category {
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--primary_color);
    top: 0;
    left: 0;
    padding: 5px 8px;
    border-bottom-right-radius: 0.5rem;
    font-weight: bold;

}

.petlist .list .pet .img .category .emgIcon{
    color: #f4dd5e;
   
    margin-right: 5px;
}

.pet .requests {

    text-transform: uppercase;
    color: #2b2a2a;
    background-color: #eff5f5;
    padding: 5px 8px;
    font-weight: bolder;
    border-radius: 0.5rem;
}



.petlist .list .pet .text {
    padding: 20px 15px;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.petlist .list .pet .text h2 {
    color: #003049;
    font-size: 2rem;

}

.petlist .list .pet .text .age {
    font-size: 15.5px;
    color: #D62828;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -5px;
    margin-bottom: 6px;
}

.petlist .list .pet .text .location {
    color: #545454;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.petlist .list .pet .text .desc {
    color: #7a7a7a;
    font-size: 15px;
    line-height: 1.5;
}

.petlist .list .pet a {
    background-color: var(--primary_color);
    color: #fff;
    padding: 12px 18px;
    border-radius: 1.5rem;
    text-transform: capitalize;
}

/* viewpet */

