.works {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.works h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.works p{
    font-size: 14px;
    color: #555555;
    width: 90%;
    text-align: center;
}

.adopter-owner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.step {
    text-align: center;
    padding: 1rem 0;
}

.step-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.step-desc {
    color: #555;
    font-size: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

.arrow-diagonal {
    width: 60px;
    height: 60px;
    border-left: 8px solid;
    border-top: 8px solid;
    transform: rotate(134deg) skew(10deg, 10deg);
    color: var(--primary_color);
    margin: 1.5rem auto;
}


.arrow-down {
    width: 80px;
    height: 80px;
    border-left: 12px solid;
    border-top: 12px solid;
    transform: rotate(225deg) skew(10deg, 10deg);
    margin: 1.5rem auto;
    color: var(--primary_color);
}

html {
    scroll-behavior: smooth;
}

.landing {
    background-image: url(../imgs/bg1.jpg);
    height: 95vh;
    width: 100%;
    background-size: cover;
    position: relative;
    /* overflow: hidden; */
}

.landing .overlay {
    position: absolute;
}

.landing .vector_1 {
    top: 70px;
    right: 0;
}

.landing .vector_2 {
    bottom: 350px;
    left: 50px;
}

.landing .overlay {
    position: absolute;
}

.landing .dog {
    bottom: 0;
    right: 0;
}

.landing .vector_1 {
    top: 70px;
    right: 0;
}

.landing .vector_2 {
    bottom: 350px;
    left: 50px;
}

.landing .container {
    color: #fff;
    padding-top: 200px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 999;
}

.landing .container h1 {
    font-size: 35px;
}

.landing .container p {
    font-size: 14px;
    color: #888CA9;
}

.landing .container .search {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;

}

.landing .container .search .searchButton {
    margin-top: 0;
    background-color: var(--primary_color);

}

.landing .container .search .input input {
    height: 100%;
    width: 500px;
    padding: 5px 20px;
    border-radius: 1.5rem;
    border: none;
    outline: none;
}

.landing .container .search .input {
    position: relative;

}

.landing .container .search .input i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    color: #000;

}

.custom-select {
    width: 300px;
    position: relative;
}

.custom-select select {
    appearance: none;
    outline: none;
    width: 100%;
    color: #eeeeee;
    /* padding: 0.675em 6em 0.675em 1em; */
    padding: 13px 15px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 1.5rem;
    color: #000;
    cursor: pointer;
}


.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

.frame-container {
    display: flex;
    /* width: 70%; */
    height: 150px;
    background-color: #eae9e9;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    gap: 20px;
    justify-content: space-between;
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.frame-container .frame {
    /* padding: 20px 40px; */
    border-radius: 20px;
    border: 1px solid #B3B3B3;
    background-color: #efefef;
    width: 160px;
    height: 130px;
    /* transition: 0.3s;  */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.frame-container .frame .img {
    height: 50%;
}

.frame-container .frame .dog-icon {
    width: 60px;
    height: 64px;
}

.frame-container .frame .cat-icon {
    width: 55px;
    height: 67px;
}

.frame-container .frame .bird-icon {
    width: 60px;
    height: 54px;
}

.frame-container .frame .rabbit-icon {
    width: 43px;
    height: 65px;
}

.frame-container .frame .fish-icon {
    width: 71px;
    height: 50px;
}

.frame-container .frame .hen-icon {
    width: 43px;
    height: 52px;
}

.frame-container .frame span {

    color: #000;
    font-size: 12px;
    margin-bottom: 2px;
}

/* .frame-container .frame:hover {
    background-color:var(--primary_color);
}  */

section {
    padding: 80px 0;
}

.our-benefits {
    padding-top: 120px;
}

section .container {
    width: 90%;
    margin: 0 auto;

}

section .container .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 80px;

}

section .container .title span {
    font-size: 1.020rem;
    color: var(--primary_color);
    font-weight: bold;
}

section .container .title h1 {
    font-size: 3.375rem;
    color: #003049;
    margin-top: -10px;

}

section .container .title p {
    color: #7a7a7a;
    width: 850px;
    margin: 0 auto;
}

/* JOURNEY SECTION */

.journey .articles{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.journey .article{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.journey .article.reverse{
    flex-direction: row-reverse;
}

.journey .article .Jtitle{
    color: var(--primary_color);
    margin-bottom: 10px;
    text-align: center;
}

.journey .article .text ul{
    padding-left: 50px;
}

.journey .article .text p{
    font-weight: bold;
    margin-bottom: 7px;
    text-align: center;
}

.journey .article .text ul li{
    font-size: 15px;
    color: #313131;
    padding: 4px 0;
}

.journey .article img{
    width: 400px;
    background-color: transparent;
}

.our-benefits .benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.our-benefits .benefits .col {
    display: flex;
    gap: 4rem;
    flex-direction: column;
}

.our-benefits .benefits .img img {
    width: 350px;
}

.our-benefits .benefits .benefit {
    display: flex;
    align-items: center;
    gap: 1rem;

}



.our-benefits .benefits .benefit .icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--primary_color);
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: aliceblue;
    border: 2px #c0bfbf solid;
    transition: 0.3s;

}

.our-benefits .benefits .benefit h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
    color: #003049;
}

.our-benefits .benefits .benefit p {
    width: 270px;
    font-size: 14px;
    color: #676767;
}

.our-benefits .benefits .benefit .icon:hover {
    transform: rotate(20deg);
    border-width: 8px;
}

.petlist .list {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
    flex-wrap: wrap;
}

.petlist .list .pet {
    width: 350px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.7rem;
    overflow: hidden;
    padding-bottom: 25px;
    transition: 0.3s;
}

.petlist .list .pet:hover {
    transform: scale(1.05);
}

.petlist .list .pet .img {
    width: 100%;
    height: 300px;
    position: relative;
}

.petlist .list .pet .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.petlist .list .pet .img .category {
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--primary_color);
    top: 0;
    left: 0;
    padding: 5px 8px;
    border-bottom-right-radius: 0.5rem;
    font-weight: bold;
}

.petlist .list .pet .text {
    padding: 20px 15px;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.petlist .list .pet .text h2 {
    color: #003049;
    font-size: 2rem;

}

.petlist .list .pet .text .age {
    font-size: 15.5px;
    color: #D62828;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -5px;
    margin-bottom: 6px;
}

.petlist .list .pet .text .location {
    color: #545454;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.petlist .list .pet .text .desc {
    color: #7a7a7a;
    font-size: 15px;
    line-height: 1.5;
}

.petlist .list .pet a {
    background-color: var(--primary_color);
    color: #fff;
    padding: 12px 18px;
    border-radius: 1.5rem;
    text-transform: capitalize;
}

.adopt-section {
    position: relative;
    width: 100%;
    height: 350px;
    background-image: url(../imgs/adop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgb(0 48 80 / 52%);
    display: flex;
    flex-direction: row;
    gap: 8rem;
    align-items: center;
}

.adopt-section .overlay {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.adopt-section .overlay h2 {
    color: #fff;
    font-size: 3.3rem;
    /* margin-bottom: 20px; */
}

.adopt-section .overlay span {
    font-weight: bold;
    margin-bottom: 40px;
    color: #fff;
    font-size: large;

}

.adopt-section .overlay .contact-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--primary_color);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    height: 60px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    width: fit-content;
}

.adopt-section .overlay .contact-btn:hover {
    background-color: #0d9d91;

}

/* find bff section */
.banner-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;


}

.banner-container .banner {
    position: relative;
    width: 650px;

    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-size: cover;
    background-position: center;
    /* background-image: url('./imgs/banner-bg-2.jpg'); */
    background-color: #80008038;

    flex-direction: row-reverse;
    color: white;
}


.banner-container .banneryellow {
    /* background-image: url('./imgs/backbanner.jpg'); */
    background-color: #ffdcdc;
    position: relative;
    width: 650px;

    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-size: cover;
    background-position: center;



}

/* Foreground images */
.banner-container .banner .imgwomen {
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 150px;
    /* Adjust size */
    height: auto;
    z-index: 2;
    margin-bottom: -8px;
}

.banner-container .banneryellow .imgdog {
    position: absolute;
    right: 80px;
    bottom: 0;
    width: 150px;
    /* Adjust size */
    height: auto;
    z-index: 2;
    margin-bottom: -8px;
}

.banner-container .banner .content1 {
    width: 60%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.banner-container .banneryellow .content2 {

    width: 60%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 21px;

}

.banner-container .banner .content1 .bf h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
}

.banner-container .banneryellow .content2 .bff h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: white;

}


.banner-container .button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    width: fit-content;
}

.banner-container .banner .content1 .red-button {
    background-color: #0b1010;
    color: white;

}

.banner-container .banneryellow .black-button {
    background-color: black;
    color: white;

}


.donation {
    position: relative;
    width: 100%;
    height: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    background-color: #fae8d7;
    gap: 10rem;
}

.donation img {

    margin-bottom: -30px;

}

.donation .text {
    width: 40%;

}


.donation h2 {
    font-size: 3.375rem;
    font-weight: 600;

}

.donation p {
    color: #505050;
    line-height: 1.5;
    margin-bottom: 15px;
}

.donation .contactbotton {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--primary_color);
    color: white;
    text-decoration: none;
    border-radius: 30px;

    font-size: 1.2rem;

    font-weight: bold;
    margin-top: 20px;
}

.bank-details {
    display: flex;
    flex-direction: column;
    border: 2px solid #163e52eb;
    padding: 10px;
    background-color: #163e52eb;
    border-radius: 8px;
    width: fit-content;
    color: #eaccad;
}

.bank-details span {
    margin-bottom: 5px;
    /* Optional: Add spacing between spans */
}


/* CONTACTUS  */

.form {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

.form-container {
    padding: 20px;
    background: #fff7ee;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    border-top: 5px solid #02c5bd;
    border-bottom: 5px solid #02c5bd;
}

h2 {
    color: #143d52;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #797979;
    padding: .375rem .75rem;

}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #02c5bd;
    border-radius: 15px;
    font-size: 16px;
}

textarea {
    resize: none;
}

button {
    background-color: #d62828;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 2rem;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: darkred;
}

.form .image-container img {

    height: auto;
    margin-left: 20px;
    border-radius: 12px;
    flex: 0 0 auto;
    width: 650px;

}

/* odometer */

.stats-container {


    background-image: url(./imgs/counter.jpg);
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 50px 20px;
    margin: 0 auto;
    background-size: cover;
    align-items: center;
    height: 50vh;

    /* display:grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    margin:0px auto;
    align-items: center;
    padding-inline:16px;
   gap:2px;
    background-image: url(./imgs/counter.jpg);
    height: 50vh;
    background-size: cover; */
}

.stats-container .stat {
    background: #043243;
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 2rem;
    width: 280px;
    height: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

}

.stats-container .stat .counter {
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
}

.stats-container .stat .type {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
}

.odometer.plus {
    position: relative;
}

.odometer.plus::after {
    content: "+";
    position: absolute;
    top: 0;
    right: -16px;
    font-size: 20px;
}

/* @media (max-width: 700px){

} */

.petlist .list .pet .img .category .emgIcon {
    color: #f4dd5e;

    margin-right: 5px;
}

footer{
    padding: 20px 0;
    background-color: #1d1f2b;
    border-top: 5px solid #6b6b6b;
}

footer .container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 6rem;
}

footer .logo{
    width: fit-content;
}

footer h2{
    color: #d1d1d1;
    font-size: 22px;
}

footer .col{
    width: 20%;
}

footer .col .links{
    list-style: none;
}

footer .col .links li{
    padding: 4px 0;
}

footer .col .links a{
    color: #afafaf;
    transition: .3s;
}

footer .col .links a:hover{
    color: #fff;
    padding-left: 5px;
}

footer .copyright{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    color: #fff;
    margin-top: 30px;
    justify-content: center;
    gap: 1rem;
}

#countryFilter option[value=south_korea]{
    color: #fff;
}