.landing {
    background-image: url(../imgs/hero-banner.jpg);
    height: 95%;
    width: 100%;
    background-size: cover;
}

.landing .container {
    color: #fff;
    padding-top: 150px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing .container h1 {
    font-size: 35px;
}

.landing .container p {
    font-size: 14px;
    color: #888CA9;
}

.landing .container .search {
    margin-top: 80px;
    display: flex;
    align-content: center;
    gap: 1rem;
}

.landing .container .search .input input {
    height: 100%;
    width: 500px;
    padding: 5px 20px;
    border-radius: 1.5rem;
    border: none;
    outline: none;
}

.custom-select {
    width: 300px;
    position: relative;
}

.custom-select select {
    appearance: none;
    outline: none;
    width: 100%;
    color: #eeeeee;
    /* padding: 0.675em 6em 0.675em 1em; */
    padding: 13px 15px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 1.5rem;
    color: #000;
    cursor: pointer;
}


.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}