@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary_color: #02c5bd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    /* FOR REMOVE */
    font-family: "Poppins", serif;
    background-color: #f9f9e4;
}

a {
    text-decoration: none;
    color: #000;
}

.preloader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999999;
    background-color: #f9f9e4;
    transition: .3s;
}

.preloader.hide{
    opacity: 0;
    visibility: hidden;
}

header {
    width: 100%;
    position: fixed;
    padding: 5px 20px;
    top: 0;
    left: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    z-index: 99999;
}

header .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo img {
    width: 80px;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--primary_color);
    font-weight: bold;
}

.logo h3 {
    margin-left: -5px;
}

header .container .nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    font-weight: bold;
}

header .container .nav a {
    color: #000;
    transition: 0.3s;
    padding: 6px 12px;
}

header .container .nav a.active {
    background-color: var(--primary_color);
    color: #fff;
    border-radius: 0.5rem;
}

header .container .nav a:hover {
    background-color: var(--primary_color);
    color: #fff;
    border-radius: 0.5rem;
}

header .container .auth {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

header .container .auth a {
    transition: 0.3s;
}

header .container .auth .login:hover {
    color: var(--primary_color);
}

header .container .auth .signup,
header .container .auth .post_pet,
header .container .auth .logout {
    border: 2px solid var(--primary_color);
    padding: 4px 8px;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

header #user_personal {
    background-color: #e5e5e5;
    padding: 2px 8px;
    border-radius: .3rem;
    cursor: pointer;
    transition: .3s;
}

header #user_personal:hover {
    background-color: #d3d3d3;
}

header #user_personal i {
    font-size: 13px;
}

header #user_personal i.fa-badge-check{
    color: var(--primary_color);
}

header .notif {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #00aea5;
    display: flex;
    justify-content: center;
    margin-top: 0;
    position: relative;
    font-size: 18px;
    color: #fff;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
}

header .notif .notif_length {
    position: absolute;
    top: 3px;
    right: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff3a3a;
    font-size: 12px;

}

header .notif_list {
    position: absolute;
    left: -250px;
    top: 45px;
    /* bottom: 7px; */
    background-color: #ffdcdc;
    min-width: 320px;
    /* min-height: 100px; */
    padding: 15px;
    font-size: 15px;
    border-radius: 0.7rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}


header .notif_list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

header .notif_list.active {
    opacity: 1;
    visibility: visible;

}

header .notif_list li a {
    padding: 8px;
    background: #fff8f1;
    border-radius: 0.3rem;
    border-left: 4px solid var(--primary_color);
    border-top: 2px solid var(--primary_color);
    border-bottom: 2px solid var(--primary_color);
    display: flex;
    column-gap: .2rem;
    flex-wrap: wrap;
}

header #clear_notifis {
    font-size: 15px;
    color: #007bff;
}

header #clear_notifis:hover {
    color: #ff3a3a;
}

header .notif:hover {
    background-color: #018a83;
}

header .personal_info {
    position: absolute;
    right: 0;
    top: 45px;
    /* bottom: 7px; */
    background-color: #e3e3e3;
    /* min-height: 100px; */
    padding: 15px;
    font-size: 15px;
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

header .personal_info.active {
    opacity: 1;
    visibility: visible;
}

header .personal_info .info {
    display: flex;
    align-items: center;
    gap: .3rem;
}

header .personal_info .action_btns {
    /* width: fit-content; */
    margin: 0 auto;
    gap: .5rem;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #a1a1a1;
}

.verify_account {
    border: 2px solid var(--primary_color);
    padding: 4px 8px;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
    justify-content: center;
    transition: .3s;
}

.verify_account *{
    transition: .3s;
}

.verify_account i{
    color: var(--primary_color);
}

.verify_account:hover {
    background-color: var(--primary_color);
    color: #fff;
}


.verify_account:hover i{
    color: #fff;
}

header .container .auth .logout {
    border: 2px solid #ff3a3a;
    width: 100%;
    justify-content: center;
}

header .container .auth .signup i,
header .container .auth .post_pet i,
header .container .auth .logout i {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--primary_color);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
}

header .container .auth .logout i {
    background-color: #ff3a3a;
    font-size: 11px;
}

header .container .auth .signup:hover,
header .container .auth .post_pet:hover {
    background-color: var(--primary_color);
    color: #fff;
}

header .container .auth .logout:hover {
    background-color: #ff3a3a;
    color: #fff;
}

header .container .auth .register {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.d_none {
    display: none !important;
}

.msg_defined {
    color: #494949;
    font-size: 1.1rem;
    background: #ff82828a;
    padding: 10px 50px;
    border-radius: 0.5rem;
}


#email_notice,
#data_notice{
    position: fixed;
    bottom: 10px;
    right: 5px;
    background-color: #dfdfdfeb;
    z-index: 99999;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
    transform: translateX(50vw);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

#email_notice.active,
#data_notice.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

#email_notice i, 
#data_notice i{
    width: 30px;
    height: 30px;
    background-color: #00a700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.disabled {
    opacity: 0.5;
    cursor: no-drop;
}

#getVerified_popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000008c;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

#getVerified_popup.active {
    opacity: 1;
    visibility: visible;
}

#getVerified_popup .content {
    background: #fff;
    padding: 10px 20px;
    border-radius: 0.7rem;
    text-align: center;
    width: 520px;
    position: relative;
}

#getVerified_popup .content {
    width: 630px;
}

#getVerified_popup #close{
    position: absolute;
    right: 10px;
    top: 10px;
    background: #e86565;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}