body {
    position: relative;
}

#form_popup,
#contact_popup,
.sureToDeletePopUp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000008c;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

#form_popup.active,
#contact_popup.active,
.sureToDeletePopUp.active {
    opacity: 1;
    visibility: visible;
}

#form_popup .content,
#contact_popup .content,
.sureToDeletePopUp .content {
    background: #fff;
    padding: 10px 20px;
    border-radius: 0.7rem;
    text-align: center;
    width: 520px;
    position: relative;
}

#getVerified_popup .content {
    width: 630px;
}

.sureToDeletePopUp .content{
    padding: 10px;
}

#form_popup .content #close,
#contact_popup .content #close{
    position: absolute;
    right: 10px;
    top: 10px;
    background: #e86565;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

#form_popup .content form,
#contact_popup .content form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align-items: center; */
}

#form_popup .content form .input,
#contact_popup .content form .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.3rem;
}


#form_popup .content form .input select,
#form_popup .content form .input input,
#contact_popup .content form .input input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #8f8f8f;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}

#contact_popup .content form .input textarea {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #8f8f8f;
    outline: none;
    font-family: "Poppins", serif;
}

#contact_popup .content form .input input {
    padding: 5px 8px;
}

#contact_popup .content form .input input.disabled {
    background: #cdcdcd;
    cursor: no-drop;
    color: #000;
}

#form_popup .content form .input_terms {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.3rem;
}

#form_popup .content form button,
#contact_popup .content form button {
    margin-top: 10px;
    padding: 8px;
    border: none;
    background: #02b6ae;
    border-radius: 1rem;
    color: #fff;
    /* font-weight: bold; */
    cursor: pointer;
    width: 100%;
    font-family: "Poppins", serif;
}

.petInfo {
    display: flex;
    width: 85%;
    gap: 2rem;
    margin: 0 auto;
    padding-top: 150px;

}

.petInfo .img {
    border-radius: 10px;
    height: 600px;
    width: 400px;
    border: 2px #ffffff solid;

}

.petInfo .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.petInfo .info {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    list-style: none;
    width: 50%;

}


.petInfo .info li:not(:last-child) {
    border-bottom: 2px solid #21d3c482;
    padding-bottom: 9px;
}

.petInfo .info h1 {
    font-size: 3.375rem;
    color: #003049;
}

.petInfo .info #age {
    font-size: 1.020rem;
    color: #d62828;
    text-transform: capitalize;
    margin-top: -10px;
}

.petInfo .info p {
    color: #7a7a7a;
    line-height: 1.5;
}

.petInfo .info .loc {
    color: #545454;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.petInfo #approvalPet {
    background-color: #00c900;
    border: none;
    padding: 10px 25px;
    color: #fff;
    border-radius: 0.7rem;
    font-weight: bold;
    width: fit-content;
}

.petInfo .info button {
    background-color: var(--primary_color);
    border: none;
    padding: 15px 30px;
    color: #fff;
    border-radius: 1.5rem;
    font-size: 19px;
    cursor: pointer;
}

.petInfo .info #owenrName{
    width: fit-content;
    display: inline-flex;
    align-items: center;
    gap: .3rem;
}

.petInfo .info #owenrName #verify_icon{
    position: relative;
}

.petInfo .info #owenrName #verify_icon::before{
    content: 'Trusted User';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    width: 75px;
    background: #000000b5;
    color: #fff;
    padding: 1px 6px;
    padding-left: 8px;
    border-radius: .7rem;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.petInfo .info #owenrName #verify_icon:hover::before{
    opacity: 1;
    visibility: visible;
}

.petlist .list .pet .img .category,
.petInfo .img .category {
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--primary_color);
    top: 0;
    left: 0;
    padding: 5px 8px;
    border-bottom-right-radius: 0.5rem;
    font-weight: bold;

}

.requests {
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
    border-top: 1px solid gray;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.requests .request {
    background: #eee;
    padding: 10px;
    border-radius: 0.7rem;
    margin-bottom: 10px;
    transition: 0.5s;
}

.requests .request.light {
    background: #dddddd;
}

.requests .request .requestCont p {
    color: #4b4b4b;
}

.requests .request div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 5px;
}

#notFoundError {
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background-color: #000; */
    top: 0;
    left: 0;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

#notFoundError a {
    background-color: var(--primary_color);
    padding: 8px 10px;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;

}

.medical_history {
    display: flex;
    flex-direction: column;

}



.medical_history .qa div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.disabled {
    opacity: 0.5;
    cursor: no-drop !important;
}

.control_request button {
    border: none;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 0.3rem;
    color: #fff;
    transition: .3s;
}

.control_request button:hover {
    opacity: .7;
}

.control_request button:first-child {
    background-color: #00cb00;
}

.control_request button:last-child {
    background-color: #ff3737;
}

.request .approved h5,
.request .denied h5 {
    padding: 8px 10px;
    background-color: #00c900;
    color: #fff;
    border-radius: .3rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #fff;
}

.request .denied h5 {
    background-color: #ff3c3c;
}

.request .approved h5 i,
.request .denied h5 i {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.request .denied h5 i {
    color: #ff4f4f;
    font-size: 12px;
}

.petInfo .info .approve_pet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete_btn{
    background-color: #ff4343;
    color: #fff;
    padding: 6px 10px;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: .3s;
}

.delete_btn:hover{
    background-color: #ff1c1c;
}

.delete_btn i{
    font-size: 13px;
}

#send_msg_to_owner {
    transition: 0.3s;
}



.sureToDeletePopUp .action_btns{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
}

.sureToDeletePopUp .action_btns a{
    color: #fff;
    padding: 3px 25px;
    border-radius: .7rem;
    transition: .3s;
}

.sureToDeletePopUp .action_btns a:hover{
    opacity: .8;
}

.sureToDeletePopUp .action_btns .main_delete{
    background-color: #ff3b3b;
}

.sureToDeletePopUp .action_btns #cancel{
    background-color: gray;
}