.form {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width:90%; */
    margin: 0 auto;
    padding: 100px 0;
    padding-bottom: 50px;
}

.form-container {
 
    background: #fff7ee;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #02c5bd;
    border-bottom: 5px solid #02c5bd;
    width: 50%;
}

h2 {
    color: #143d52;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

h2 i {
    font-size: 18px;
    background-color: var(--primary_color);
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #797979;
    padding: .375rem 0;
}

input:not(input[type=file]),
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #27c4bc;
    border-radius: 15px;
    font-size: 16px;
}

.pet_img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.pet_img .input {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #cdcdcd;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #00aea5;
    overflow: hidden;
    position: relative;
}

.pet_img#card_img_container .input{
    width: 300px;
    min-height: 150px;
    height: auto !important;
    border-radius: .5rem;
}

.pet_img .input:hover {
    background-color: #979797;
}

.pet_img #pet_img,
#card_img_container #card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pet_img .icon {
    width: 40px;
    position: absolute;
}

.pet_img #fileName {
    font-size: 14px;
}

.form-container textarea {
    resize: none;
}

 .form-container button {
    background-color: #d62828;
    color: white;
    border: none;
    padding: 10px 60px;
    border-radius: 2rem;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    width: fit-content;
    display: block;
    font-weight: bold;
}

.form-container button:hover {
    background-color: darkred;
}

.form .image-container img {

    height: auto;
    margin-left: 20px;
    border-radius: 12px;
    flex: 0 0 auto;
    width: 650px;

}

.form-container .address {
    display: flex;
    gap: 1rem;

}

.medical_history {
    display: flex;
    gap: 1rem;
    flex-direction: column;


}

.medical_history textarea {
    font-size: 14px;
    font-family: "Poppins", serif;
    padding: 8px;
}

.custom-select {
    width: 295px;
    position: relative;

}

.custom-select select {
    appearance: none;
    outline: none;
    width: 100%;
    color: #eeeeee;
    /* padding: 0.675em 6em 0.675em 1em; */
    padding: 13px 15px;
    background-color: #fff;
    border: 1px solid #27c4bc;
    border-radius: 1rem;
    color: #000;
    cursor: pointer;
}


.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}


.name_age {
    display: flex;
    justify-content: space-between;
}

.name_age div {
    width: 48%;
}

.gender_type{
    display: flex;
    justify-content: space-between;
}

.custom-select  .TG{
    appearance: none;
    outline: none;
    width: 100%;
    color: #eeeeee;
    /* padding: 0.675em 6em 0.675em 1em; */
    padding: 13px 15px;
    background-color: #fff;
    border: 1px solid #27c4bc;
    border-radius: 1rem;
    color: #000;
    cursor: pointer;
}

.form-container .emergency {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.7rem;
    flex-direction: row-reverse;
}

.form-container .emergency input{
    width:15px;
    height: 15px;
    margin-top: 5px;
  
}